/*
* @Author: LaoBan-ywcm
* @Date:   2018-02-27 11:12:59
* @Last Modified by:   LaoBan-ywcm
* @Last Modified time: 2018-04-20 16:43:13
*/
/* .search {
    width: 60%;
    margin: 0 auto;
    margin-top: 130px;
}
.search_input {
    height: 50px;
}
.search_input:hover {
    border-color: red;
}
.search button {
    height: 50px;
    background-color: #fff;
    color: green;
    border: 1px solid rgb(217, 217, 217);
    border-left: none;
}
.search button i::before{
    font-size: 27px;
} */
.search {
    width: 60%;
    margin: 0 auto;
    margin-top: 130px;
}
.header_title {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
    font-size: 40px;
}
.header_des {
    text-align: center;
    margin: 20px auto;
    color: #747474;
    font-size: 14px;
    width: 500px;
}