/*
* @Author: LaoBan-ywcm
* @Date:   2018-04-27 19:06:56
* @Last Modified by:   LaoBan-ywcm
* @Last Modified time: 2018-04-29 21:59:27
*/
.line {
    position: absolute;
    top: 250px;
    left: 10px;
}