/*
* @Author: LaoBan-ywcm
* @Date:   2018-04-29 21:44:46
* @Last Modified by:   LaoBan-ywcm
* @Last Modified time: 2018-04-30 11:47:22
*/
.line {
    position: absolute;
    top: 250px;
    left: 10px;
    width: 500px;
    height: 288px;
    background-color: rgba(21,34,66,0.5);

}
.line p{
    font-size: 21px;
    color: #fff;
    margin: 10px;
    margin-left: 30px;
    border-bottom: 1px solid #4284b8;
}